<section class="section sec5" id="contact">
    <div class="contact-container">
      <div class="main-title">
        <h2>Contacta<span>me</span><span class="bg-text">Contactame</span></h2>
      </div>
      <div class="contact-content-con">
        <div class="left-contact">
          <h4>Contáctame por estos medios</h4>
          <p>Información de contacto
          </p>
          <div class="contact-info">
            <div class="contact-item">
              <div class="icon">
                <i class="fas fa-map-marker-alt"></i>
                Ubicación
              </div>
              <p>
                : Mendoza, Argentina
              </p>
            </div>
            <div class="contact-item">
              <div class="icon">
                <i class="fas fa-mail-bulk"></i>
                Email
              </div>
              <p>
                : juan.fuenza97@icloud.com
              </p>
            </div>
            <div class="contact-item">
              <div class="icon">
                <i class="fas fa-phone"></i>
                Teléfono
              </div>
              <p>
                : +54 9 11 5862-9169
              </p>
            </div>
            <div class="contact-item">
              <div class="icon">
                <i class="fas fa-globe-africa"></i>
                Lenguajes
              </div>
              <p>
                : Español, Ingles
              </p>
            </div>
          </div>
          <div class="contact-icons">
            <div class="contact-icon">
              <a href="https://www.github.com/JuanFuenza" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="right-contact">
          <form action="https://formsubmit.co/2c90fc32dabcf0455bee6a2b842e6c4e" method="POST" class="contact-form">
            <div class="input-control i-c-2">
              <input type="text" name="name" required placeholder="Tu nombre...">
              <input type="email" name="email" required placeholder="Tu mail...">
            </div>
            <div class="input-control">
              <input type="text" required placeholder="Asunto...">
            </div>
            <div class="input-control">
              <textarea name="message" class="form-label" cols="15" rows="8" required placeholder="Escriba su mensaje aquí..."></textarea>
            </div>
            <div class="submit-btn">
              <button class="submit">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</section>